@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Roboto:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(168, 162, 158);
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.side-nav{
    background-color: rgb(217 119 6);   
}
.side-nav .item a{
    color:snow;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    margin-left: 3px;
}

.side-nav .items{
    padding-left:14px;
}


.side-nav .items .item{
    display: flex;
    align-items: center;
}

.items .top-items{
    margin:  10px 0 ;
}
.middle-items{
    margin-top: 1.5rem;
}

.bottom-items{
    margin-top: 3rem;
}

.middle-items .bottom-items, .item{
    margin: 13px 0;
    font-size: 13px;
}

/* HEADER */

header{
    background-color: snow;
    box-shadow: 1px 2px 4px black;
}

.banner{
padding-top: 10px;
}
.top-banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.top-banner .profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search{
    display: flex;
    align-items: center;
    /* justify-content: space-bet; */
    padding-left: 2rem;
}

.search input{
    border: none;
    background-color: rgb(168, 162, 158);
    width: 300px;
    height: 20px;
    border-radius: 20px;
    }

.banner{
    padding-bottom: 10px;
}

.user .prof ,img{
    object-fit: cover;
}

.profile .name{
    font-family: "Roboto",sans-serif;
}

 .banner .bottom-banner{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom-banner .user{
    background-color: cadetblue;
    display: flex;
    margin-left: 2rem;
    align-items: center;
    font-family: "Roboto",sans-serif;
}

.bottom-banner .btns button{    
    border:none;
    background-color: rgb(217 119 6);
    border-radius: 5px;
    width: 60px;
    height: 25px;
    font-family: "Roboto",sans-serif;
    color:snow;
    margin-left: 10px;
    cursor: pointer;
}


.bottom-banner .user img,.top-banner .prof img{
    background-color: rgb(168, 162, 158);
    border-radius: 50%;
    overflow: auto;
}





/* Section */