@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Roboto:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    /* background-color: rgb(168, 162, 158);
     */
     background-color: rgba(0, 0, 0, 0.531);
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr;
}

.side-nav{
    background-color: snow;   
}


.side-nav .item a{
    color:hwb(0 5% 95% / 0.634);
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    margin-left: 4px;
}

.side-nav .items{
    padding-left:17px;
}


.side-nav .items .item{
    display: flex;
    align-items: center;
}

.items .top-items{
    margin:  14px 0 ;
}
.top-items a{
    font-size: 24px;
}
.middle-items{
    margin-top:2rem;
}

.bottom-items{
    margin-top: 3rem;
}

.middle-items .bottom-items, .item{
    margin: 13px 0;
    font-size: 17px;
}

/* HEADER */

header{
    background-color: rgb(217 119 6);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.586);
}

.banner{
padding-top: 10px;
}
.top-banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 40px; */
}

.top-banner .profile{
    display: flex;
    align-items: center;
    justify-content: center;

}

.top-banner .profile div{
    margin-left: 3rem;
}

.search{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.search input{
    border: none;
    background-color: rgba(0, 0, 0, 0.531);
    width: 400px;
    height: 20px;
    border-radius: 20px;
    margin-left: 20px;
    }

.banner{
    padding-bottom: 10px;
}

.user .prof ,img{
    object-fit: cover;
}

.profile .name{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    color: snow;
}

 .banner .bottom-banner{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.bottom-banner .user{
    
    display: flex;
    margin-left: 2rem;
    align-items: center;
    font-family: "Roboto",sans-serif;
    color: snow;
}

.bottom-banner .user div{
    margin-left: 15px;
}

.bottom-banner .user div p{
    font-weight: 700;
}

.bottom-banner .btns{
    /* background-color: rebeccapurple; */
    justify-content: center;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* background-color: rebeccapurple; */
}

.bottom-banner .btns button{    
    border:none;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.531);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-family: "Roboto",sans-serif;
    color:snow;
    margin-left: 10px;
    cursor: pointer;
    text-transform: capitalize;
}


.bottom-banner .user img,.top-banner .prof img{
    background-color: rgb(168, 162, 158);
    border-radius: 50%;
    overflow: auto;
}


/* Section */
section{
    margin: 30px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    /* background-color: rebeccapurple; */
    font-family: 'Roboto',sans-serif;
}

.aside{
   /* display: grid; */
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
}

.aside .two{
margin-top: 20px;
}

.wrapper .title{
    margin-bottom: 10px;
    font-size: 12px;
    color: snow;
}

.cards{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.card{
    background-color:  rgb(217 119 6); 
    border-left: 4px snow solid;
    padding: 1.5rem;
    border-radius: 5px;
    width: 310px;
    height: 160px;
    color: snow;
}

.card-text p{
    width: 320px;
    font-size: 15px;
    margin-block-start: 3px;
    margin-block-end: 15px;
}

.card-icon{
    display: flex;
    justify-content: flex-end;
}

.card-icon div{
    margin-left: 15px;
}

.panel{
    background-color: rgb(217 119 6) ;
    padding:10px 20px;
    border-radius: 5px;
    width: 290px;
    color: snow;
}


.panel-section{
  
    margin-block: 7px;
}

.panel-title{
    margin-block:1px ;
}

hr{
    background-color: rgba(0, 0, 0, 0.531);
    height: 1px;
    border: none;
}

.panel-text p{
    width: 239px;
    font-size: 13px;
}

.panel-section .user{
    display: flex;
    margin-bottom: 12px;
}

.panel-section .user img{
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}


.panel-section .user span{
    font-size: 10px;
}

.panel-section .user p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.531);
}